[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
molecule = "*"
docker = "*"
pytest = "<3.10"
pytest-xdist = "*"

[dev-packages]

[requires]
python_version = "3.6"
